<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
		
	<beans:bean id="daoExamen" class="spring.jsf.tpjsf.dao.ImplDaoExamen"></beans:bean>
    <beans:bean id="metierExamen" class="spring.jsf.tpjsf.metier.ImplMetierExamen">
        <beans:property  name="dao" ref="daoExamen"></beans:property>
    </beans:bean>
     
    <beans:bean id="daoMateriel" class="spring.jsf.tpjsf.dao.ImplDaoMateriel"></beans:bean>
    <beans:bean id="metierMateriel" class="spring.jsf.tpjsf.metier.ImplMetierMateriel">
        <beans:property  name="dao" ref="daoMateriel"></beans:property>
    </beans:bean>                    
    	 
    <beans:bean id="daom" class="spring.jsf.tpjsf.dao.ImplDAOmodule"></beans:bean>
    <beans:bean id="metierM" class="spring.jsf.tpjsf.metier.ImpMetierModule">
        <beans:property  name="daoModule" ref="daom"></beans:property>
    </beans:bean>  
    
    <beans:bean id="daoS" class="spring.jsf.tpjsf.dao.ImplDaoSalle"></beans:bean>
    <beans:bean id="metierS" class="spring.jsf.tpjsf.metier.ImpMetierSalle">
        <beans:property  name="daoSalle" ref="daoS"></beans:property>
    </beans:bean> 	
    
    <beans:bean id="daoetudiant" class="spring.jsf.tpjsf.dao.ImpldaoEtudiant"></beans:bean>
    <beans:bean id="EtudiantMetier" class="spring.jsf.tpjsf.metier.implMetierEtudiant">
        <beans:property  name="daoetudiant" ref="daoetudiant"></beans:property>
    </beans:bean>
     
    <beans:bean id="daosession" class="spring.jsf.tpjsf.dao.ImpldaoSession"></beans:bean>
    <beans:bean id="SessionMetier" class="spring.jsf.tpjsf.metier.ImplMetierSession">
        <beans:property  name="daosession" ref="daosession"></beans:property>
    </beans:bean>                     
    
     
    	 
    <!-- ************************************************************************************************ -->
    <annotation-driven />
    <resources mapping="/resources/**" location="/resources/" />
    <!-- ************************************************************************************************ -->
   
	<!-- ************************************************************************************************ -->
    <!-- ************************************************************************************************ -->
	<beans:bean id="datasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver"></beans:property>
		<beans:property name="url" value="jdbc:mysql://localhost/gestionEcole"></beans:property>
		<beans:property name="username" value="root"></beans:property>
		<beans:property name="password" value=""></beans:property>
	</beans:bean>
	<beans:bean id="PersistenceUnitManager"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<beans:property name="defaultDataSource" ref="datasource"></beans:property>
		<beans:property name="persistenceXmlLocations">
			<beans:list>
				<beans:value>classpath*:META-INF/persistence.xml</beans:value>
			</beans:list>
		</beans:property>
		
	</beans:bean>
	<beans:bean id="EntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<beans:property name="persistenceUnitManager" ref="PersistenceUnitManager"></beans:property>
		<beans:property name="persistenceUnitName" value="UP_Etudiant"></beans:property>
	</beans:bean>
	<beans:bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
	    <beans:property name="entityManagerFactory" ref="EntityManagerFactory"></beans:property>
    </beans:bean>
    <!-- ************************************************************************************************ -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <context:annotation-config></context:annotation-config>
	<!-- ************************************************************************************************ -->
	<context:component-scan base-package="spring.jsf.tpjsf" />
	<!-- <context:component-scan base-package="crepe.spring.jsf.bean" />
	<context:component-scan base-package="crepe.spring.jsf.DAO" />
	<context:component-scan base-package="crepe.spring.jsf.jsf.Metier" /> 
	<context:component-scan base-package="crepe.spring.jsf.entities" /> 
 	<context:component-scan base-package="crepe.spring.jsf.test" /> 
	 -->
	<!-- ************************************************************************************************ -->
	
	<!-- ************************************************************************************************ -->
	
</beans:beans>